* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  height: 500px;
}
.App {
  text-align: left;
  margin: 30px auto;
  width: 500px;
  font-family: Arial,sans-serif;
  color: #878787;
  position: relative;
}
form {
  position: relative;
  margin: 20px 0;
}
button {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  border: none;
  color: #0055f7;
  font-weight: bold;
  background: transparent;
}
input {
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: none;
}
.currency-border {
  padding: 20px 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-color: #fff;
  position: relative;
}
.align {
  width: 100%;
}
.error {
  color: #ff7171;
  height: 20px;
  display: block;
}